@use "../variables";
@use "sass:color";

.btn {
  border: none;
  border-radius: 3px;
  background-color: variables.$secondary;
  color: variables.$primary;

  &-pad {
    padding: 5px;
  }

  &:disabled {
    background-color: color.adjust(variables.$secondary, $lightness: 10%);
    color: color.adjust(variables.$primary, $lightness: -30%);
    cursor: not-allowed;
    opacity: 0.6;
  }
}

.btn:hover {
  cursor: pointer;
  background-color: color.adjust(
    variables.$secondary,
    $lightness: -10%
  );
  transition: 0.2s;
}
