<div class="scores-layout">
  <div class="scores-section">
    <div class="input-name-container">
      <input
        class="playerInput"
        id="player-name"
        (keyup.enter)="addPlayer()"
        [formControl]="playerName"
        placeholder="Pseudo"
      />
      <button class="btn add-player" (click)="addPlayer()" (touchstart)="addPlayer()">+</button>
    </div>
    <div class="list-container">
      @for (player of players; track $index) {
        <div class="player-item">
          <button (click)="removePlayer($index)" class="btn" tabindex="-1">
            X
          </button>
          <span class="player-name">{{ player.name | titlecase }}</span>
          <input
            type="number"
            [formControl]="players[$index].scoreCtrl"
            min="0"
            class="input-score"
          />
          @if (min === player.total) {
            <img class="top-player" src="crown.svg" />
          }
          @if (max === player.total) {
            <img class="top-player" src="turtle.svg" />
          }
          <span class="total">{{ player.total }}</span>
        </div>
      }
    </div>
    <div class="flex">
      <button (click)="computeTotal()" class="btn btn-pad validate ripple">
        Validate round
      </button>
      <button
        (click)="openSaveScoreModal()"
        class="btn btn-pad validate ripple"
        [disabled]="isDisabled()"
      >
        Save data
      </button>
    </div>
  </div>
  
  <div class="graph-section">
    <app-score-graph 
      [players]="players" 
      [roundHistory]="roundHistory()">
    </app-score-graph>
  </div>
</div>
@if (isModalOpen) {
  <app-modal (close)="closeModal()" (confirm)="onConfirmSave()"></app-modal>
}
