<div class="sidebar" [class.open]="isSidebarOpen">
  <p class="title">Menu</p>
  <nav>
    <span
      routerLink="/"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="onCloseSidebar()"
      ><img class="note" src="note.svg" />Score</span
    >
    <span
      routerLink="/stats"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="onCloseSidebar()"
      ><img class="stat" src="stat.svg" />Stats</span
    >
  </nav>
</div>
<div class="overlay" *ngIf="isSidebarOpen" (click)="onCloseSidebar()"></div>
